/* navbar mobile */

.navbar-links-mobile {
  display: none;
}

.navbar-links-mobile {
  list-style: none;
  font-size: 25px;
  margin: 0 20px;
  padding: 10px;
}

.navbar-links-mobile ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-links-mobile li a {
  text-decoration: none;
  color: white;
  display: block;
  border-radius: 10px;
  padding: 0.5rem;
}

/* Navbar Social */

.navbar-social {
  display: none;
}

.navbar-social i {
  /* display: flex; */
  align-items: center;
  font-size: 40px;
  padding: 0 30px;
}

/* Toggle button */
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

@media (max-width: 400px) {
  .navbar ul li a:hover {
    background: none;
  }

  .navbar-social {
    margin: 0 13%;
  }
  #mywork {
    padding-top: 30px;
  }

  .email a {
    font-size: 15px;
    margin: auto 18%;
    align-items: center;
  }
}

@media (max-width: 875px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li a {
    margin-bottom: 10px;
  }

  .toggle-button {
    display: flex;
  }
  /* default navbar */
  .navbar-links {
    display: none;
  }

  /* mobile navbar */

  .navbar-links-mobile {
    width: 100%;
    display: flex;
    transition: all 1s ease;
  }

  .navbar-links-mobile ul {
    flex-direction: column;
    width: 100%;
    height: 80vh;
    padding: 30%;
  }

  .navbar-links-mobile ul li {
    padding: 30px;
  }

  .navbar-links-mobile li a {
    width: 100%;
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    text-align: center;
    align-items: center;
  }

  .navbar-links-mobile li a:hover {
    background: rgb(12, 105, 12);
    transition: all 0.5s ease;
  }

  /* Social */

  .navbar-social {
    width: 100%;
    height: 50vh;
    transition: all 1s ease;
    display: flex;
    padding-bottom: 10px;
  }

  .navbar-social ul {
    width: 100%;

    margin: auto 300px;
  }

  .my-name {
    text-align: center;
    font-size: 35px;
    margin-top: 0;
  }

  #about-me {
    text-align: center;
    font-size: 25px;
  }

  #background p {
    padding: 10px;
  }

  .intro {
    padding-top: 20%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    align-items: center;
  }

  #project-image {
    width: 100%;
    height: 100%;
  }
}
