#mywork {
  font-family: "EB Garamond", serif;
  font-weight: 900;
  font-size: 30px;
  margin: 30px auto 10px auto;
  width: 50%;
  text-align: center;
}

#work-desc {
  text-align: center;
  font-style: "EB Garamond", serif;
  font-weight: 500;
}
